main{
  width: calc(100% - 240px);
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
}


.pull-right{
  margin-left: auto;
  margin-right: -12;

}



.page-footer{
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  background: linear-gradient(45deg, #FF9801 30%, #FF3D00 90%);
  color: #fff;
  margin: 0 -10px;
  padding: 20px;
  a{
    color: #ffffff;
  }



}


.footer-inner{
  margin: 0 auto;
}


body{
  overflow-x: hidden;
  font-family: Roboto;
  background: #EEEEEE;
}


.user-menu{
  padding: 16px;
}


#nav-login{
  color: #fff;
  text-decoration: none;
}


#projectName{
background: transparent;
  border: none;
  border-bottom:  solid #fff 2px ;

  min-height: 50px;
  font-family: Roboto;
  width: 100%;

  font-size: larger;



  &:focus{
    background: white;
  }
}



.input-outer{
  width: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.1875em !important;
  align-items: center;


  &:before{
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: non
  }



}


.input{
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
  min-height: 100px;
}


.input-normal{
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;

}

